<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 和spring整合后 environments配置将废除-->
	<typeHandlers>
		<typeHandler handler="cn.rock.mybatis.typehandler.AddressTypeHandler" />
	</typeHandlers>
	<plugins>
		<plugin interceptor="cn.rock.mybatis.interceptor.MyInterceptor">
			<property name="prop1" value="prop1"/>
			<property name="prop2" value="prop2"/>
		</plugin>
	</plugins>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/mybatisdemo?characterEncoding=utf-8" />
				<property name="username" value="root" />
				<property name="password" value="rock" />
			</dataSource>
		</environment>
	</environments>
	
	<!-- 配置mapper映射文件 -->

	<mappers>
		<!-- resource方式 在UserMapper.xml，定义namespace为mapper接口的地址，映射文件通过namespace找到对应的mapper接口文件 -->
		<!-- <mapper resource="sqlmap/UserMapper.xml" /> -->
		<!-- class方式 class：指定 mapper接口的地址 遵循规则：将mapper.xml和mapper.java文件放在一个目录
			且文件名相同 -->
		<!-- <mapper class="cn.itcast.mybatis.mapper.UserMapper"/> -->


		<!--批量mapper扫描 遵循规则：将mapper.xml和mapper.java文件放在一个目录 且文件名相同 -->
		<!--<package name="cn.itcast.mybatis.mapper" />-->

		<mapper resource="sqlmap/User.xml"/>
		<package name="cn.rock.mybatis.Mapper" />
	</mappers>
</configuration>
